.container {
  max-width: 920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.chatContainer {
  flex: 1;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6;
}